.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.felx-container{display: flex; justify-content: space-around;align-items: flex-start;}
.prod-list{display: flex; width:80%; flex-flow: wrap;}
.cart-container{width: 20%;}
.prod-list-inn{border:1px solid #ccc;border-radius: 3px;margin:10px}
.prod-list-inn img{width: 200px;height: 150px;}
.flex-flow{display:flex;}
.spc-btwn{justify-content: space-between;}
.prod-name{align-items: center;}
.prod-name h3{font-size: 13px;}
.add-cart{background-color: forestgreen;color: #fff;border-radius: 3px; padding: 5px;border:none}
.remove-cart{background-color: rgb(187, 7, 7);color: #fff;border-radius: 3px; padding: 5px;border:none}